

<!-- <h1>News and Updates!</h1>
<% @blogs.each do |blog| %>
  <%= simple_format(blog.title) %><br/>
  <%= simple_format(blog.content) %>
  <br/>
  <br/>
<% end %>
<br/>
<h1 class="pictures_section">Pictures Bitches!</h1>
<% @images.each do |image| %>
  <%= image_tag image.photo.url(:medium) %><br/>
<% end %> -->
