
<!-- <video autoplay loop poster="https://uproxx.files.wordpress.com/2015/09/rick-morty-plot-2.gif?w=650" id="bgvid">
  <source src="plumbus.webm" type="video/webm">
  <source src="plumbus.mp4" type="video/mp4">
</video> -->

<%= video_tag "plumbus.mp4", id: "bgvid", autoplay: true, muted: true, autobuffer: true %>

<!-- <h1>News and Updates!</h1>
<% @blogs.each do |blog| %>
  <%= simple_format(blog.title) %><br/>
  <%= simple_format(blog.content) %>
  <br/>
  <br/>
<% end %>
<br/>
<h1 class="pictures_section">Pictures Bitches!</h1>
<% @images.each do |image| %>
  <%= image_tag image.photo.url(:medium) %><br/>
<% end %> -->
