.images_header {
  text-align: center;
}

.images_index {
  display: inline-block;
  /*border: solid black 1px;*/

  margin: .5em;
}

.individual_image {
  display: inline-block;
  height: 150px;
  width: 150px;
  padding: 1em;
  border-radius: 20px;
  background-color: white;
}

.individual_image:hover {
  background-color: white;
  background: white;

}

a.image_link:hover {
  background: white;
  background-color: white;
}

.image_caption {
  display: inline-block;
}
