.performance_header {
  text-align: center;
  margin-top: 3.5em;
  font-size: 2em;

}

.all_performances {
  padding: 1.5em;
}

.performances_inner {
  text-align: center;
}

.indie_performance {
  display: inline-block;
  list-style-type: none;
  padding: 0 2em;
}

.performance_title {
  margin-bottom: .5em;
}

.performance_photo {
  height: 150px;
  width: 150px;
}

.performance_link {
  /*padding-left: 3em;*/
}
