.nav_bar_inner {
  text-align: center;
  margin: 1em;
}

.menu_bar {
  display: inline-block;
}

.fa-bars {
  float: right;
}

.fa-times {
  float: right;
  color: white;
}

.fa-bars:hover {
  cursor: pointer;
}

#overlay-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 5;
  display: none;
}

#overlay {
  text-align: center;
  position: absolute;
  top: 25em;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}


a.playwright_link {
  display: none;
  text-decoration: none;
  z-index: 5;
  color: white!important;
  font-size: 5em;
  top: 10em!important;
}



.pictures_section {
  color: red;
}

.new_blog_form {
  max-width: 70em;
}

.new_image_caption {
  max-width: 60em;
}

video#bgvid {
  background-attachment: scroll, scroll, scroll;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  /*height: 100%;*/
  text-align: center;
  z-index: -100;
  position: fixed;
  /*background: url("https://uproxx.files.wordpress.com/2015/09/rick-morty-plot-2.gif?w=650");*/
}

.main_blog_box {
  text-align: center;
}


.media_video {
  font-size: 4em;
  margin: 1em;
}

.videos_index {
  text-align: center;
}

.individual_video {
  width: 600;
  height: 300;
}

.video_title {
  font-size: 2em;
  margin-bottom: .3em;
}
