.pictures_section {
  color: red;
}

.new_blog_form {
  max-width: 70em;
}

.new_image_caption {
  max-width: 60em;
}

video#bgvid {
  background-attachment: scroll, scroll, scroll;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  /*height: 100vh;*/
  text-align: center;
  z-index: -100;
  position: fixed;
  /*background: url(../pics/videofallback.jpg);*/
}
