em {
  font-style: italic;
}
/*nav bar style*/
.nav_bar {
  height: 5em;
  background: #353940;
}
.nav_bar_inner {
  text-align: center;
  padding: 1.80em .5em 1em .5em;
}

.menu_bar {
  display: inline-block;
}

.cherrye_home {
  float: left;
}

.fa-bars {
  padding-right: 20px;
  float: right;
  color: #F0F0EF;
}

.fa-bars:hover {
  cursor: pointer;
}

.nav_bar_inner a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.37em;
  color: #F0F0EF;
}

/*portal to different sections*/
#overlay-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 5;
  display: none;
}

#overlay {
  text-align: center;
  position: absolute;
  top: 25em;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}


a.playwright_link {
  display: none;
  text-decoration: none;
  z-index: 5;
  color: white!important;
  font-size: 5em;
  top: 10em!important;
}

/*text-editor box*/
.fr-box {
  max-width: 70em;
}

/*background video*/
video#bgvid {
  background-attachment: scroll, scroll, scroll;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  /*height: 100%;*/
  text-align: center;
  z-index: -100;
  position: fixed;
  /*background: url("https://uproxx.files.wordpress.com/2015/09/rick-morty-plot-2.gif?w=650");*/
}
